* {
    box-sizing: border-box;
}

body {
    background-color: #202020;
    margin: 0;
    color: #fff;
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 945px;
    margin: auto;
}

.hero {
    padding-top: 50px;
    background: linear-gradient(0.01deg, #181822 0.01%, rgba(0, 0, 0, 0) 95.44%);
    padding-bottom: 150px;
}

.hero-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 100px;
}

.social-link {
    margin-left: 20px;
}

.hero-subtitle {
    display: inline-block;
    font-size: 24px;
    line-height: 28px;
    color: #FFBB01;
    margin-bottom: 14px;
}

.hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-title {
    font-weight: bold;
    font-size: 50px;
    line-height: 59px;
    margin-top: 0px;
    margin-bottom: 20px;
}

.hero-description {
    font-size: 16px;
    line-height: 28px;
    max-width: 420px;
    margin-bottom: 38px;
}

.button {
    background: linear-gradient(180deg, #FDDE76 0%, #FFBB01 100%);
    box-shadow: 0px 4px 0px #B68500;
    border: none;
    border-radius: 5px 5px 10px 10px;
    padding: 24px 42px;
    font-weight: bold;
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;
}

.hero-avatar {
    width: 375px;
    height: 375px;
    background-color: #fff;
    border-radius: 50%;
    background-image: url(../img/avatar.jpg);
    background-repeat: no-repeat;
    background-position: center top -1px;
    border: 14px solid #fff;
}